* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto-Regular";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto-Bold";
  margin-bottom: 0;
  color: var(--black-100)
}

body {
  background-color: var(--silver-500);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../../assets/font/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../../assets/font/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../../assets/font/Roboto-Bold.ttf);
}

:root {
  --primary-color: #ffbe0f;
  --yellow-100: #FFFBD2;
  --orange-100: #f35801;
  --orange-bg-100: #f6851d;
  --silver-100: #9aa0a5;
  --silver-200: #858c93;
  --silver-300: #717981;
  --silver-400: #d6d9db;
  --silver-500: #E5E5E5;
  --silver-bg-100: #d6d9db;
  --white-100: #ffffff;
  --black-title: #404244;
  --black-100: #302c2c;
  --red--100: #ff5454;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

.is-12px {
  font-size: 12px;
}

.is-14px {
  font-size: 14px;
}

.no-border {
  border: none !important;
}

