.container {
    padding: 90px 24px 24px;
    background-color: var(--white-100);
    position: relative;
    border-radius: 4px;
}

.sale-title {
    position: absolute;
    left: -16px;
    top: 24px;
}

.countDown {
    position: absolute;
    top: 24px;
    right: 24px;
}

.countDown-title {
    color: var(--white-100);
    font-size: 20px;
    padding: 8px 12px;
    background-color: var(--red--100);
    border-radius: 8px;
}